*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.invoice-parent{
    width: 100vw;
    height: auto;
}

.invoice-parent > .header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin-bottom: 20px;
}

.invoice-parent > .header > .detials {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
}

.detials > .one,.two,.three {
    font-size: 16px;
}
.detials > .two >a {
    text-decoration: none;
}

.detials>.three{
 color: #787676;
}

.box1{
    width: 95%;
    height: 300px;
    background-color: #30303013;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
}

.box1 > .left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.box1 > .left > .head {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}

.box1 >.left> .sub >.bill{
    font-size: 15px;
    color: #787676;
    margin-bottom: 10px;
}

.box1>.left>.sub>.le1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.box1>.left>.sub>.email{
    font-size: 16px;
    margin-bottom: 10px;
}
.box1>.left>.sub>.address{
    font-size: 16px;
}

.box1>.right {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 10px;
}

.box1 > .right > .para {
        font-size: 15px;
        color: #787676;
        margin-bottom: 10px; 
}

.box1>.right>.pHead {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
}

.box1>.right>.cont1>.para {
        font-size: 15px;
        color: #787676;
        margin-bottom: 10px;
}
.box1>.right>.cont2>.para {
        font-size: 15px;
        color: rgb(120, 118, 118);
        margin-bottom: 10px;
}

.box-parent{
    width: 100%;
    display: flex;
    justify-content: center;
}

.meme {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.membership > .detials {
    font-size: 20px;
        font-weight: 600;
        margin: 40px 0 20px 0;
}
.box2{
    width: 95vw;
    height: 50px;
    background-color: #30303013;
    border-radius: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;

}

.box2 > div {
    font-size: 18px;
    font-weight: 600;

}
.box3{
    width: 95vw;
    height: 50px;
    /* background-color: #30303013; */
    border-radius: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;

}

.box3 > div {
    font-size: 18px;
    font-weight: 600;

}

.pay {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment {
    width: 95%;
    text-align: start;
}

.payment > .detials {
    text-align: start;
       font-size: 20px;
        font-weight: 600;
        margin: 40px 0 20px 0;
}

.payment > .gold {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.payment > .gold > div {
    font-size: 18px;
        font-weight: 500;
}


.line {
    width: 64vw;
    height: 2px;
    background-color: #30303013;
    margin: 30px 0;
}

.box4 {
    width: 35%;
    height: 50px;
    background-color: #30303013;
    border-radius: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.pp{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dd{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.detials1 {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    margin: 30px 0;
}

.detials1 > div {
    font-size: 18px;
    font-weight: 600;
}

.final{
    font-size: 18px;
    font-weight: 700;
    margin: 30px 0;
}